# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
