SECRET_KEY=django-insecure-cambia-esto-en-produccion-luxhabitat
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,flying-dislocate-skimming.ngrok-free.dev
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://flying-dislocate-skimming.ngrok-free.dev
DATABASE_URL=postgres://postgres:postgres@db:5432/inmobiliaria

# Wompi Sandbox
# Obtén tus credenciales en https://comercios.wompi.co/
WOMPI_PUBLIC_KEY=pub_test_qbd4J2dLl0R1GnbiDqRzmTX3Kwwl6FWS
WOMPI_PRIVATE_KEY=prv_test_DIFVebbP1OCM0uiEbCkbrsuidyeVowZK
# URL de tu backend para recibir notificaciones de pago (webhook)
# Usa ngrok para desarrollo local: https://ngrok.com/
WOMPI_WEBHOOK_URL=https://flying-dislocate-skimming.ngrok-free.dev/api/payments/pagos/webhook/
WOMPI_CURRENCY=COP
WOMPI_ENV=sandbox
